
      body{background-color: #fff;}
  			footer {
      		background-color: #2d2d30;
      		color: #f5f5f5;
      		padding: 32px;
  			}
  			footer a {
      		color: #f5f5f5;
  			}
  			footer a:hover {
      		color: #777;
      		text-decoration: none;
  			}  
  			.form-control {
      		border-radius: 0;
  			}
  			textarea {
      		resize: none;
  			}
